# Friend Database Collection
In this collection I will be collecting all the information of the people that I have had the honor of sharing my life with. In this a database is formulated to be able to properly track and organize historical events that have happened in my life.

# imports
Imports proper libraries for use of excel sheets, basic math, and sql database systems.

In [1]:
#imports
import pandas as pd
import seaborn as sns
import openpyxl
from sqlalchemy import create_engine

sns.set()

#Supress warnings (warning signs will not allow code to execute)
import warnings
warnings.filterwarnings("ignore")

# database
Importing the databse that we will be updating and uploading. The file is a excel sheet stored locally on package computer.

In [2]:
#import file
friend = pd.read_excel('./FEDtemp.xlsx')

In [3]:
#basic database informaiton
friend.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 183 entries, 0 to 182
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   FULL NAME    183 non-null    object
 1   First Name   181 non-null    object
 2   Middle Name  25 non-null     object
 3   Last Name    181 non-null    object
 4   Education    0 non-null      float64
 5   Occupation   0 non-null      float64
dtypes: float64(2), object(4)
memory usage: 8.7+ KB

In [4]:
#total shape of table
friend.shape

(183, 6)

In [5]:
#describe method to describe the database
friend.describe()

       Education  Occupation
count        0.0         0.0
mean         NaN         NaN
std          NaN         NaN
min          NaN         NaN
25%          NaN         NaN
50%          NaN         NaN
75%          NaN         NaN
max          NaN         NaN

In [6]:
#show case the columns
friend.columns

Index(['FULL NAME', 'First Name', 'Middle Name', 'Last Name', 'Education',
       'Occupation'],
      dtype='object')

# missing information
Determines the amount of informaiton wihtin the database that is null or unique

In [7]:
#detemrnine how many cells or points within the array is empty
friend.isnull()

     FULL NAME  First Name  Middle Name  Last Name  Education  Occupation
0        False       False        False      False       True        True
1        False       False        False      False       True        True
2        False       False        False      False       True        True
3        False       False         True      False       True        True
4        False       False        False      False       True        True
..         ...         ...          ...        ...        ...         ...
178      False       False         True      False       True        True
179      False       False         True      False       True        True
180      False       False        False      False       True        True
181      False       False         True      False       True        True
182      False       False         True      False       True        True

[183 rows x 6 columns]

After determining the missing information, we will only collect information in a seperate variable that only has all true. We will utilize the dropna() method that will drop any row that has one missing element

In [8]:
#dropping all the rows with empty informaiton, storing into another variable
friendC = friend.dropna()

#describe the new variable
friendC.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   FULL NAME    0 non-null      object
 1   First Name   0 non-null      object
 2   Middle Name  0 non-null      object
 3   Last Name    0 non-null      object
 4   Education    0 non-null      float64
 5   Occupation   0 non-null      float64
dtypes: float64(2), object(4)
memory usage: 0.0+ bytes

# Modifying existing Database
Edit the database to be able to better organize the collection

In [9]:
#open workbook to work on
ws = openpyxl.load_workbook("./FEDtemp.xlsx")

# Get the sheet that contains the names
sheet = ws["Sheet1"]

One of the issues of the original created worksheets had a sheet in which the columns contained both first name, middle name, and last name. The names were seperated by spaces so we will utilize the split() method in order to seperate the string in the cell.

In [10]:
# Iterate over the rows in the sheet
for row in sheet.iter_rows(min_row=2, max_col=1):
    if isinstance(row[0].value, str):
        # Split the name into a list
        name_list = row[0].value.split()

        # Validate that the name has at least a first and last name
        if len(name_list) < 2:
            # Skip the row if the name is invalid
            continue

        # Get the first and last name
        first_name = name_list[0]
        last_name = name_list[-1]

        # Get the middle name if it exists
        middle_name = ""
        if len(name_list) > 2:
            middle_name = " ".join(name_list[1:-1])

        # Write the first, middle, and last name to the sheet
        sheet.cell(row=row[0].row, column=2).value = first_name
        sheet.cell(row=row[0].row, column=3).value = middle_name
        sheet.cell(row=row[0].row, column=4).value = last_name
    else:
        #skip the row if the cell value is not a string
        continue

Insert new columns to the worksheet: the colums that need to be made to provide more data about each individual role.

In [11]:
#renaming columns name for first name, middle name, last name
sheet.cell(row=1,column=2).value = "First Name"
sheet.cell(row=1,column=3).value = "Middle Name"
sheet.cell(row=1, column=4).value = "Last Name"

#get the number of columns in the sheet
col = sheet.max_column

#inserting columns and with field names at the end
sheet.insert_cols(col + 1)

#add the name to the newly created header
sheet.cell(row = 1, column = col+1).value = "Occupation"

#appending another column
sheet.insert_cols(col+1)

#add new name to the appended column
sheet.cell(row=1, column=col+1).value = "Education"

Saving the workbook so that changes are going to be made.

In [12]:
#save the workbook and overwrite
ws.save("FEDtemp.xlsx")