# Friend Database Collection
In this collection I will be collecting all the information of the people that I have had the honor of sharing my life with. In this a database is formulated to be able to properly track and organize historical events that have happened in my life.

# imports
Imports proper libraries for use of excel sheets, basic math, and sql database systems.

In [1]:
#imports
import pandas as pd
import seaborn as sns
from sqlalchemy import create_engine

sns.set()

#Supress warnings (warning signs will not allow code to execute)
import warnings
warnings.filterwarnings("ignore")

# database
Importing the databse that we will be updating and uploading. The file is a excel sheet stored locally on package computer.

In [2]:
#import file
friend = pd.read_excel('./FED.xlsx')

In [3]:
#basic database informaiton
friend.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 183 entries, 0 to 182
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   NAME            183 non-null    object
 1   DOB             38 non-null     object
 2   AFFILIATION     182 non-null    object
 3   FAVORITE STORY  41 non-null     object
dtypes: object(4)
memory usage: 5.8+ KB

In [4]:
#total shape of table
friend.shape

(183, 4)

In [5]:
#describe method to describe the database
friend.describe()

,NAME,DOB,AFFILIATION,FAVORITE STORY
count,183,38,182,41
unique,183,37,4,41
top,JESSICA MAE ABANES,2003MAR27,FRIENDS,When I was sleeping with Dez and she decided t...
freq,1,2,146,1

In [8]:
#show case the columns
friend.columns

#loop through the columns of full name and add them to a new column
#seperating them by using the split method and stores each name inbetween from first and last
for row in friend.columns[0]:
    name = row[0]
    name_list = name.split()
    firstN = name_list
    lastN = name_list
    row[0].value = firstN
    row[1].value = lastN

AttributeError: 'str' object has no attribute 'value'

# missing information
Determines the amount of informaiton wihtin the database that is null or unique

In [ ]:
#detemrnine how many cells or points within the array is empty
friend.isnull()

      NAME    DOB  AFFILIATION  FAVORITE STORY
0    False  False        False           False
1    False  False        False           False
2    False  False        False           False
3    False  False        False           False
4    False  False        False           False
..     ...    ...          ...             ...
178  False   True        False            True
179  False   True        False            True
180  False   True        False            True
181  False   True        False            True
182  False   True        False            True

[183 rows x 4 columns]

After determining the missing information, we will only collect information in a seperate variable that only has all true. We will utilize the dropna() method that will drop any row that has one missing element

In [ ]:
#dropping all the rows with empty informaiton, storing into another variable
friendC = friend.dropna()

#describe the new variable
friendC.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 0 to 38
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   NAME            30 non-null     object
 1   DOB             30 non-null     object
 2   AFFILIATION     30 non-null     object
 3   FAVORITE STORY  30 non-null     object
dtypes: object(4)
memory usage: 1.2+ KB