## NumPy

NumPy comes installed by default on Google Colaboratory, and Thinkful's Jupyter Notebook system also has it preinstalled. That means that you don't need to use pip to install NumPy for your coursework. However, you will need to install NumPy when you're working with Python in a from-scratch environment.

NumPy was designed to make manipulating data easy. The fundamental structure that it uses is the *array*.  A NumPy array is a table of elements, all of the same type. Arrays may have one, two, or even more dimensions. 

![image.png]()

Each dimension is called an *axis*. So in a one-dimensional array, there is only a single axis. In a two-dimensional array, there are two axes. In a three-dimensional array, there are three axes, and so on. The axes of the array are indexed by integers, and individual values in the array are referred to by the index of the axis.

To work with NumPy, first import the library.

In [2]:
import numpy as np

## Array creation

There are a few ways to create an array in NumPy. An array can be created from a list of values, like this:

In [3]:
# A one-dimensional array
a = np.array([5, 3, 7])
print(a)

[5 3 7]

Similarly, a two-dimensional array may be created by passing a list of lists.

In [4]:
# A two-dimensional array
b = np.array([[2, 4, 6], [3, 5, 7]])
print(b)

[[2 4 6]
 [3 5 7]]

Sometimes, you may want to create an array out of a sequence of numbers. For example, you could create an array of all numbers from 0-19 as follows:

In [5]:
c = np.arange(20)
print(c)

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19]

The `arange()` method can optionally take `start`, `end`, and `step` parameters. To create an array of all even numbers from 20 to 50, for example, you can specify a `start` of `20`, `end` of `50`, and `step` of `2`. Note that the `end` parameter isn't inclusive.

In [6]:
d = np.arange(20, 50, 2)
print(d)

[20 22 24 26 28 30 32 34 36 38 40 42 44 46 48]

In general, resizing an array is more computationally expensive than creating one from scratch. Because of this, sometimes it makes sense to create an array of a given size with placeholder values that you later fill in with meaningful values. The `zeros()` method provides an easy way to create an array of zeros. Take a look:

In [7]:
# Create an array of zeros
e = np.zeros(10)
print(e)

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

In [8]:
# Create a two-dimensional array of ones
f = np.ones((5, 8))
print(f)

[[1. 1. 1. 1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1. 1. 1. 1.]]

## The `reshape()` method

You can change the dimensions of an array with the `reshape()` method. For example, here's what you could do if you had a one-dimensional array of 20 numbers and needed to convert it to a 4x5 array of the same numbers:

In [ ]:
g = np.arange(20)
print(g)

g = g.reshape(4, 5)
print(g)

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19]
[[ 0  1  2  3  4]
 [ 5  6  7  8  9]
 [10 11 12 13 14]
 [15 16 17 18 19]]

## Basic attributes

The `array` object has several useful attributes. Here are some of them:


* `ndim`: The number of axes
* `shape`: The dimensions of the array
* `size`: The number of elements in the array
* `dtype`: The data type of the elements of the array

In [ ]:
# Create a new array
h = np.arange(25).reshape(5, 5)

# Print the number of axes in this array
print('There are {} axes in this array.'.format(h.ndim))

# Print the shape of the array
print('This is a {} array'.format(h.shape))

# Print the size of the array
print('This array contains {} elements'.format(h.size))

# Print the data type of the elements
print('This array contains values of type {}'.format(h.dtype))

There are 2 axes in this array.
This is a (5, 5) array
This array contains 25 elements
This array contains values of type int64

## Basic operators

A class of 30 students completed a coursework assessment worth 40% and a final exam worth 60% of the final grade. The grades for the coursework and the marks for the exam are in two arrays. Find the total for each student by adding corresponding grades from the two arrays.

To solve this sort of problem, you need to iterate over the arrays and add corresponding values to create a third array. NumPy has built-in operators that perform *element-wise* operations, and that's what you need here. NumPy's arithmetic operators are all element-wise.

In [ ]:
# Use NumPy's random methods to create an array of random values
cw_marks = np.random.randint(0, 41, 30)
exam_marks = np.random.randint(0, 61, 30)

print('The coursework marks are:')
print(cw_marks)
print('The final exam marks are:')
print(exam_marks)

total = cw_marks + exam_marks

print('The total marks are:')
print(total)

The coursework marks are:
[ 1 32 31 11 11 15  0  2 26 40 22  2  6  6 33 30 39 38 32 10 19  1 31 28
  9 10 17 32 24 24]
The final exam marks are:
[21 34 52 20 18 24 18 24 36 34 19 38 42 17 40 50 34  5 23 29  7 31 31  6
 28 30 35 49  4 48]
The total marks are:
[22 66 83 31 29 39 18 26 62 74 41 40 48 23 73 80 73 43 55 39 26 32 62 34
 37 40 52 81 28 72]

Some operators on arrays are called *aggregator* functions because they aggregate the elements of the array and return a single value. For example, you can use built-in NumPy functions to find the mean, min, and max of the total grades.

In [ ]:
print('The highest mark in the couse was {}'. format(np.max(total)))
print('The lowest mark in the course was {}'.format(np.min(total)))
print('The mean mark in the course was {}'.format(np.mean(total)))
print('The standard deviation of the marks in the course was {}'.format(np.std(total)))

The highest mark in the couse was 83
The lowest mark in the course was 18
The mean mark in the course was 47.63333333333333
The standard deviation of the marks in the course was 19.8099021255084